<!DOCTYPE html>
<head>
  <title>Game</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=320,user-scalable=no">
  <meta name="format-detection" content="telephone=no" />
  <meta name="format-detection" content="address=no" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
