<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
<head>
  <title>Game</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=320,user-scalable=no" />
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <style>:root {background:#ccc;min-height:500px</style>
  <meta name="format-detection" content="telephone=no" />
  <meta name="format-detection" content="address=no" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
